{% extends 'base.html.twig' %}

{% block title %}New User
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="h3 mb-3 font-weight-normal text-center mt-5 text-uppercase">créer un nouveau compte</h1>
		<div class="mb-4">
			<a href="{{ path ('app_admin') }}">Retour</a>
		</div>

		{# {{ include('user/_form.html.twig') }} #}

		{{ form_start(form) }}
		{{ form_row(form.firstname) }}
		{{ form_row(form.lastname) }}
		{{ form_row(form.email) }}
		{{ form_row(form.password) }}
		{{ form_row(form.photo) }}
		{{ form_row(form.sector) }}
		{{ form_row(form.contract) }}
		{{ form_row(form.release_date) }}

		<div class="d-flex justify-content-center mt-5">
			<button type="submit" class="btn btn-primary">ENREGISTRER LE NOUVEAU COMPTE</button>
		</div>

		{{ form_end(form) }}
	</div>
{% endblock %}
